.header {
  width: 100%;
  display: flex;
  height: var(--chakra-sizes-full);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--chakra-colors-gray-200);
  padding: var(--chakra-space-3);
}